<html>
  <head>
  	<link href="/memory.css" rel="stylesheet" type="text/css">
  	<link href="/root.css" rel="stylesheet" type="text/css">
  	<link href="/disk.css" rel="stylesheet" type="text/css">
    <title>Memory</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>